body {
    text-align: center;
}

h1 {
    font-size: xx-large;
    font-weight: 700;
    font-style: italic;
}

div {
    color: black;
    margin-top: 30px;
    width: auto;
    background-color: cadetblue;
}

button {
    padding: 15px 8px;
    border-radius: 35px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: cadetblue;
    color: black;
}